<!-- <app-home></app-home> -->
<!-- <app-forms></app-forms> -->



<div class="container-fluid header">
  <div class="row align-items-center">
      <div class="col-12 d-flex justify-content-between align-items-center py-1">
          <div class="left_side px-5">
              <ul class="d-flex m-0 p-0 list-unstyled gap-4">
                  <li class="px-2">Track Order</li>
                  <li class="px-2">Contact Us</li>
                  <li class="px-2">Media</li>
                  <li class="px-2">Articles</li>
                  <li class="px-2">Store Locator</li>
              </ul>
          </div>
          <div class="right_side px-5">
              <ul class="d-flex m-0 p-0 list-unstyled align-items-center gap-4">
                  <a href="https://www.whatsapp.com" target="_blank"><li class="px-2"><i class="fa-brands fa-whatsapp"></i> +91 8595626824</li> </a>
                  <li class="px-2"><i class="fas fa-envelope"></i> {{head_email}}</li>
                  <a href="https://www.facebook.com" target="_blank"><li class="px-2"><i class="fa-brands fa-facebook"></i></li></a>
                  <a href="https://www.instagram.com" target="_blank"><li class="px-2"><i class="fa-brands fa-instagram"></i></li> </a>
                  <a href="https://www.youtube.com" target="_blank"><li class="px-2"><i class="fa-brands fa-youtube"></i></li> </a>
                  <a href="https://www.x.com" target="_blank"><li class="px-2"><i class="fa-brands fa-twitter"></i></li> </a>
                  <a href="https://www.in.linkedin.com" target="_blank"><li class="px-2"><i class="fa-brands fa-linkedin"></i></li> </a>
              </ul>
          </div>
      </div>
  </div>
</div>

<!-- Navbar -->
<div class="container-fluid nav">
  <div class="row align-items-center">
      <div class="col-12 d-flex  align-items-end">
          <div class="logo px-0">
              <img src="https://t4.ftcdn.net/jpg/03/72/98/53/360_F_372985317_L4hkgHMvl9OmvalekTCpfYeG9QI0DHjP.jpg" alt="Logo" >
          </div>

          <div class="menu py-4 px-0">
              <ul class="d-flex m-0 p-0 list-unstyled align-items-center">
                  <li class="px-3"><button>HOME</button></li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >ABOUT US</button>
                      <ul class="dropdown-menu">
                          <li> <button> <a class="dropdown-item" href="#"  >The Company</a></button></li>
                          <li><a class="dropdown-item" href="#">Business</a></li>
                          <li><a class="dropdown-item" href="#">Regalo Team</a></li>
                      </ul>
                  </li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">PRODUCTS</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">KITCHEN</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">WARDROBES</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
                  <li class="px-3"><button style="width: 120px;">OUR PROCESS</button></li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">TESTIMONIAL</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">CAREER</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
                  <li class="px-3 dropdown">
                      <button class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">SUPPORT</button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
          </div>

          <!-- Enquiry Button -->
          <div class="enquiry py-3">
              <button class="btn btn-danger ">Enquiry</button>
          </div>
      </div>
  </div>
</div>


<router-outlet></router-outlet>

  


<div class="container-fluid mt-3 bottm" >
    <div class="container justify-content-center ">
      <div class="row">
        <div class="col-12 d-flex justify-content-center gap-5 m-5">
          <div class="">
            <h2 style="color: white;font-weight: 700;">Modular Kitchen</h2>
            <div class="list" >
              <ul class="d-flex flex-column gap-3">
                <li>Modular Kitchen in Delhi</li>
                <li>Modular Kitchen in Gurgaon</li>
                <li>Modular Kitchen in Noida</li>
                <li>Modular Kitchen in Jaipur</li>
                <li>Modular Kitchen in Chandigarh</li>
                <li>Modular Kitchen in Ludhiana</li>
                <li>Modular Kitchen in Ghaziabad</li>
                <li>Modular Kitchen in Faridabad</li>
                <li>Modular Kitchen in Panchkula</li>
                <li>Modular Kitchen in Lucknow</li>
              </ul>
            </div>
          </div>

          <div class="">
            <h2>Modular Wardrobe</h2>
            <div class="list">
            <ul class="d-flex flex-column gap-3">
              <li>Modular Wardrobe in Delhi</li>
              <li>Modular Wardrobe in Gurgaon</li>
              <li>Modular Wardrobe in Noida</li>
              <li>Modular Wardrobe in Jaipur</li>
              <li>Modular Wardrobe in Chandigarh</li>
              <li>Modular Wardrobe in Ludhiana</li>
              <li>Modular Wardrobe in Ghaziabad</li>
              <li>Modular Wardrobe in Faridabad</li>
              <li>Modular Wardrobe in Panchkula</li>
            </ul>
           </div>
          </div>

          <div class="">
            <h2>Quick Links</h2>
            <div class="list">
              <ul class="d-flex flex-column gap-3">
                <li>Current Openings</li>
                <li>Apply Now</li>
                <li>Life At Regalo</li>
                <li>Our Process</li>
                <li>Videos</li>
                <li>Blog</li>
                <li>Store Locator</li>
                <li>Enquiry Now</li>
                <li>Privacy Policy</li>
              </ul>
            </div>
          </div>

          <div class="">
            <h2>Useful Links</h2>
            <div class="list">
              <ul class="d-flex flex-column gap-3">
              <li>Modular Kitchen Price in Delhi</li>
              <li>Top 10 Modular Kitchen Brands In India</li>
              <li>Luxury Modular Kitchen Design</li>
              <li>Luxury Modular Kitchen Design in Patparganj</li>
              <li>Luxury Modular Kitchen Design in Anand Vihar</li>
              <li>Modular Kitchen Design in New Delhi</li>
              
            </ul>
            <div class="">
              <h2>Modular Kitchen Manufacturer</h2>
              <div class="list">
                <ul class="d-flex flex-column gap-3"> <!-- Added Bootstrap gap class -->
                  <li>Modular Kitchen Price by Manufacturer</li>
                  <li>Modular Kitchen Price by Manufacturer in Gurgaon</li>
                  <li>Modular Kitchen Price by Manufacturer in Faridabad</li>
                  <li>Modular Kitchen Price by Manufacturer in Ghaziabad</li>
                  <li>Modular Kitchen Price by Manufacturer in Lucknow</li>
                </ul>
              </div>
            </div>
            
            </div>
          </div>

        </div>
      </div>

      <div class="row m-3">
        <div class="justify-content-center d-flex gap-5">
          <ul class="d-flex m-0 p-0 list-unstyled align-items-center gap-4">
            <a href="https://www.whatsapp.com" target="_blank"><li class="px-2"><i class="fa-brands fa-whatsapp"></i> +91 8595626824</li> </a>
            <li class="px-2"><i class="fas fa-envelope"></i> {{head_email}}</li>
            <a href="https://www.facebook.com" target="_blank"><li class="px-2"><i class="fa-brands fa-facebook"></i></li></a>
            <a href="https://www.instagram.com" target="_blank"><li class="px-2"><i class="fa-brands fa-instagram"></i></li> </a>
            <a href="https://www.youtube.com" target="_blank"><li class="px-2"><i class="fa-brands fa-youtube"></i></li> </a>
            <a href="https://www.x.com" target="_blank"><li class="px-2"><i class="fa-brands fa-twitter"></i></li> </a>
            <a href="https://www.in.linkedin.com" target="_blank"><li class="px-2"><i class="fa-brands fa-linkedin"></i></li> </a>
          </ul>
        </div>
      </div>
      
<div class="row ">
  <div class="justify-content-center d-flex gap-3 mt-4">
    <h5>Copyright © 2025 All Rights Reserved<span> Regalo Kitchens</span></h5>
  </div>
</div>

      

    </div>
  </div>