<div class="container-fluid about">
    <div class="row">
      <div class="col-12 m-0 p-0">
        <img src="https://www.regalokitchens.com/images/aboutmainbanner.jpg" alt="About Us Banner" class="img-fluid">
      </div>
    </div>
    <div class="container-fluid m-0 bg-white">
    <div class="row">
            <div class="col-12 p-5">
                <div class="clearfix">
                    <p style="font-weight: 700;color: #d83135;font-size: 20px;">COMPANY OVERVIEW</p>
                    <div class="" style="font-size: 45px;font-weight: 700;">REGALO KITCHEN                     <p style="font-size: 18px;float: right;font-weight: normal;">For us, <span style="font-weight: 700;">"KITCHENS"</span> are not just about cooking a variety of dishes for the family but an <br>
                        important place in the home that strengthens family bonds over delicious foods.</p></div>
                </div>
                </div>
        </div>
    </div>
  </div>

  <div class="container-fluid" >
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <div class="col-lg-6 p-4">
                    
                        <img src="https://www.regalokitchens.com/images/resources/company.png" alt="" style="object-fit: cover;width: 500px;">
                
                </div>
                <div class="col-lg-6">
                    <p>podkcsdmclksdn</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  

<div class="container-fluid">

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6"> 
                gebfuebfuebf 
      </div>
      <div class="col-lg-6"> 
        joiijijij 
      </div>
    </div>
  </div>
  
</div>