

<!-- Slider -->
 <!-- *ngIf="isSliderVisible" -->
<div class="container-fluid slider" >
    <div class="row">
        <div class="col-12 m-0 p-0" >
            <div id="verticalCarouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://www.regalokitchens.com/images/slides/1.jpg" class="d-block w-100" alt="...">
                        <div class="container carousel-caption custom-caption py-5">
                          <div class="row">
                            <div class="col-4 p-3  card mincard" style="background: rgba(9, 9, 9, 0.57);color: white;">
                              <h1 class="d-flex align-items-start">MODULAR KITCHEN</h1>
                              <h4 class="d-flex align-items-start">Kitchens Where You Serve Love</h4><br>
    <button class="btn btn-danger" style="width: 200px;height: 60px;border-radius: 30px;font-size: 20px;font-weight: 600;text-shadow:2px 4px 3px rgba(0,0,0,0.5);">Get Free Quote</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                  <div class="carousel-item">
                    <img src="https://www.regalokitchens.com/images/slides/2.jpg" class="d-block w-100" alt="...">
                    <div class="container carousel-caption custom-caption py-5">
                        <div class="row">
                          <div class="col-4 p-3  card mincard" style="background: rgba(9, 9, 9, 0.57);color: white;">
                            <h1 class="d-flex align-items-start">MORE SPACE</h1>
                            <h4 class="d-flex align-items-start">Kore Breath, More Energy</h4><br>
                            <button class="btn btn-danger" style="width: 200px;height: 60px;border-radius: 30px;font-size: 20px;font-weight: 600;text-shadow:2px 4px 3px rgba(0,0,0,0.5);">Enquiry Now</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.regalokitchens.com/images/slides/3.jpg" class="d-block w-100" alt="...">
                    <div class="container carousel-caption custom-caption py-5">
                        <div class="row">
                          <div class="col-4 p-3  card mincard" style="background: rgba(9, 9, 9, 0.57);color: white;">
                            <h1 class="d-flex align-items-start">TRANSFORMS YOUR</h1>
                            <h4 class="d-flex align-items-start">Ideas Into Reality</h4><br>
                            <button class="btn btn-danger" style="width: 200px;height: 60px;border-radius: 30px;font-size: 20px;font-weight: 600;text-shadow:2px 4px 3px rgba(0,0,0,0.5);">Book Now</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.regalokitchens.com/images/slides/4.jpg" class="d-block w-100" alt="...">
                    <div class="container carousel-caption custom-caption py-5">
                        <div class="row">
                          <div class="col-4 p-3  card mincard" style="background: rgba(9, 9, 9, 0.57);color: white;">
                            <h1 class="d-flex align-items-start">MODULAR KITCHEN DESIGN IN AGRA</h1>
                            <h4 class="d-flex align-items-start">Where You Serve Love</h4><br>
                            <button class="btn btn-danger" style="width: 200px;height: 60px;border-radius: 30px;font-size: 20px;font-weight: 600;text-shadow:2px 4px 3px rgba(0,0,0,0.5);">Get Free Quote</button>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://www.regalokitchens.com/images/slides/5.jpg" class="d-block w-100" alt="...">
                    <div class="container carousel-caption custom-caption py-5">
                        <div class="row">
                          <div class="col-4 p-3  card mincard" style="background: rgba(9, 9, 9, 0.57);color: white;">
                            <h1 class="d-flex align-items-start">COOKING CAN BE</h1>
                            <h4 class="d-flex align-items-start">Fun With  Aman Kitchen </h4><br>
                            <button class="btn btn-danger" style="width: 200px;height: 60px;border-radius: 30px;font-size: 20px;font-weight: 600;text-shadow:2px 4px 3px rgba(0,0,0,0.5);">Get Free Quote</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#verticalCarouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#verticalCarouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>

<!-- MODULAR KITCHEN INTERIOR DESIGNER IN INDIA -->
<div class="container-fluid Recognized">
    <div class="container py-5">
      <div class="row align-items-center">
        <!-- Text Section -->
        <div class="col-md-6">
          <h1>RECOGNIZEdD <span>MODULAR KITCHEN</span> INTERIOR DESIGNER IN INDIA</h1>
          <p>
            India has seen an uprising trend in kitchen interiors, with modular kitchen design
            becoming the star attraction in modern houses. These kitchens are well-known
            for their functional qualities and beauty, providing an easy combination of easy-to-use 
            layout as well as comfort when cooking and effective use of free space. As a
            top modern kitchen designer in India, we are professionals in designing modern 
            kitchen layouts that go with a range of space standards. From stylish modular 
            kitchen interiors, bathroom vanities to modular closets, we provide a wide 
            selection of premium goods. Many homeowners around the country have come to 
            trust us because of our brand's reputation for providing impressive designs in 
            many different sizes. With unmatched quality and creativity, Regalo Kitchens is 
            a shining example of reliability and high-quality when it comes to redesigning 
            modular kitchen interiors.
          </p>
          <button class="btn btn-danger" >More About Us &nbsp; <i class="fa-solid fa-arrow-right-long"></i></button>
        </div>
  
        <!-- Image Section -->
        <div class="col-md-5 position-relative ">
          <img src="https://www.regalokitchens.com/images/slides/6.jpg" class="img-fluid" alt="Modular Kitchen">
          
          <div class="custom-caption position-absolute bottom-0 w-100 text-center  d-flex align-items-center m-5" >
            <p class="text-black m-2" >12+</p>
            <span class="d-flex align-items-center" >
              Years Experience in this Field
            </span>
            <span ><button class="m-0 p-0" ><i class="fa-solid fa-chevron-right fs-4" ></i></button></span>
          </div>
        
        </div>
        
          
      </div>
    </div>
  </div>

  <!-- OUR PRODUCT -->
  <div class="container product">
    <div class="row m-4">
      <div class="col-12 text-center">
        <div class="m-4">
        <h2>OUR <span>PRODUCTS</span></h2>
      </div>
      <div class="align-items-center" style="font-weight: 500;font-size: 19px;">
        <p>Every area of your house can gain benefits from the style, creativity, and value that Regalo Kitchens brings. 
          Focusing on providing amazing LCD panel designs, bathroom vanities, closets, and kitchen design, we make sure that 
          our products go higher than your expectations. Our specialty is creating custom kitchen design plans that provide consumers 
          with the right balance of premium features and design by adding ease of use. <br><br>
        
        Our wide selection of modular kitchen design has been developed to turn your cooking area into a luxurious and useful 
        space. We use the best materials and innovative methods to achieve your unique demands, so every design has a surprise 
        element. Our items showcase great quality and attention to detail, no matter your preference for clean trendy looks or 
        vintage pieces. <br><br>

         Materials with excellent quality are our main focus at Regalo Kitchens in order to provide durability and great beauty. 
         In partnerships with you, our skilled design team creates spaces that are both attractive and highly functional. 
         We guarantee to provide a touch of luxury and perfection to your house with everything from modular kitchen design to 
         closets and vanities.
</p>

      </div>
      </div>
    </div>
  </div>
  <!-- img -->
   <div class="container-fluid">
   <div class="container">
    <div class="row">
      <div class="col-12">
        <p>
        <img src="https://www.regalokitchens.com/images/slides/matte-black-island-modular-kitchen.jpg" alt="" style="max-width: 100%;">
      </p>
      </div>
    </div>
   </div>
  </div>

  <!-- MODULAR KITCHEN -->
  <div class="container-fluid product mkitchen">
    <div class="container ">
      <div class="row m-4">
        <div class="col-12 text-center">
          <div class="m-4">
            <h2 >MODULAR <span>KITCHEN</span></h2>
          </div>
          <div class="align-items-center" style="font-weight: 500;font-size: 19px;">
            <p> <a href="#" style="text-decoration: none;font-weight: 700;">Modular Kitchen </a>layouts have recently been a popular option for creating a latest kitchen layout for modern homes.<a href="#" style="text-decoration: none;font-weight: 700;"> Modular kitchen design</a> 
              is a well-planned design that provides a smooth and functional experience for the homeowner. Kitchen design allows you to organize your area through many divided cabinets. <br><br>

              One of the fastest-growing manufactures of modular kitchen in India, Regalo Kitchens provides a wide range of sleek modular kitchen design ideas to enhance the 
              interior of your house. We are specialized and have an experienced team for urban kitchens as well as other cities. We craft simple kitchen design layouts that are 
              perfectly crafted with functionality and style. Our trending kitchen design includes everything from basic kitchens with basic decoration to stylish kitchen interior ideas. <br><br>

              We are popular for offering the best price for any type of kitchen or you can say best budget friendly modular kitchen design which you can get only at Regalo 
              Kitchens with top quality of each and every product used in the kitchen. If you are planning to create your dream kitchen in Delhi or any city in India, please 
              visit our product on display first and then choose your vendor. All our modern kitchen designs can be customized and can be adjusted to your budget and 
              space available in your home. In India, we are the top kitchen designer brand.</p>
              <div class="m--3">
                <button class="btn btn-danger m-4 p-3 px-5" >Get Free Quote</button>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODULAR WARDROB -->
  <div class="container-fluid box1">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center p-4 d-flex">
          <div class=" card m-3">
            <div class="">
              <img src="https://www.regalokitchens.com/images/wardrobe.jpg" alt="" class="w-100">
            </div>
            <div class="m-4">
              <h3>MODULAR <span>WARDROBE</span></h3>
              <p>Explore the range of walk-in closets, <br>
                sliding doors, openable shutter wardrobes <br>
                to beautify your home interior.</p>
            </div>
          </div>
          <div class=" card m-3" >
            <div class="">
              <img src="https://www.regalokitchens.com/images/tv.jpg" alt="" class="w-100">
            </div>
            <div class="m-4">
              <h3>TV <span>PANEL</span></h3>
              <p>Explore the variety of elegant <br>
                TV panel designs to give a unique <br>
                look at your living area.</p>
            </div>
          </div>
          <div class=" card m-3">
            <div class="">
              <img src="https://www.regalokitchens.com/images/vaneity.jpg" alt="" class="w-100" >
            </div>
            <div class="m-4">
              <h3>BATHROOM <span>VANITY</span></h3>
              <p>Stylish and spacious bathroom vanity <br>
                with contemporary designs to <br>
                improve the functionality.</p>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--TYPE of KITCHEN  -->
  <div class="container product">
    <div class="row m-4">
      <div class="col-12 text-center">
        <div class="m-4">
        <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">TYPES OF <span style="color:#d83135; font-weight: 450;">MODULAR KITCHEN DESIGN</span></h2>
      </div>
      <div class="align-items-center" style="font-weight: 500;font-size: 16px;">
        <p>Modern homes require a well-organized modular kitchen design since it improves both accessibility and attractiveness. Modern kitchen interiors are expertly 
          crafted by artists and can be customized depending on your needs while matching in with the available floor space. For the best stability and style, they 
          combine premium materials with innovative concepts.
          <br><br>
        

          The 8 most common layouts for innovative kitchen design are the L-shaped, In-Line, U-shaped, G-shaped, Parallel, Island, Italian, and German designs. Every 
          design offers the greatest performance and use of space while providing specific advantages The work triangle concept forms the basis of these 
          arrangements, guaranteeing easy movement between the refrigerator, sink, and stove.
          <br><br>


          Especially in cities like Delhi, luxury modular kitchen plans are getting popular because of their premium finishes and new trends. Along with remodeling your 
          kitchen, they improve the overall layout of your house. Whatever you decide, your kitchen design provides a great solution by mixing quality with affordability.



                
</p>

      </div>
      </div>
    </div>
  </div>

  <!-- U shape MODULAR KITCHEN DESIGN -->
  <div class="container-fluid box1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 justify-content-center d-flex text-center">
          <div class="col-6 card m-3 ">
            <div class="">
              <img src="https://www.regalokitchens.com/images/u-shaped-kitechen1.jpg" alt="" class="w-100" style="height: 300px;">
            </div>
            <div class="m-4">
              <h3> U SHAPE <span style="color:#d83135;">MODULAR KITCHEN DESIGN</span></h3>
              <p>A U-shaped kitchen design features three walls lined with cabinets and <br>
                appliances. It's an efficient design that saves floor space.</p>
            </div>
          </div>
          <div class="col-6 card m-3">
            <div class="">
              <img src="	https://www.regalokitchens.com/images/l-shaped-kitchen1.jpg" alt="" class="w-100" style="height: 300px;">
            </div>
            <div class="m-4">
              <h3>L SHAPE <span style="color:#d83135;">MODULAR KITCHEN DESIGN</span></h3>
              <p>The L-shaped kitchen is one of the most efficient layouts for modern kitchens. L-<br>
                 shaped Kitchens are a great way to organize your space and make it easy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- G shape MODULAR KITCHEN DESIGN -->
  <div class="container-fluid box1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center d-flex justify-content-center ">
          <div class="col-4 card m-3">
            <div class="">
              <img src="	https://www.regalokitchens.com/images/g-shaped-kitchen1.jpg" alt="" class="w-100" style="height: 250px; ">
            </div>
            <div class="m-4">
              <h3>G SHAP <span>MODULAR KITCHEN DESIGN</span></h3>
              <p>As the name suggests, G shaped kitchens
                have four sides resembling the letter 'G.'
                It's very similar to U-shaped kitchens,
                except there is usually a fourth dimension
                that adds extra countertop or dining space.</p>
            </div>
          </div>
          <div class="col-4 card m-3" >
            <div class="">
              <img src="	https://www.regalokitchens.com/images/island-kitchen1.jpg" alt="" class="w-100" style="height: 250px;">
            </div>
            <div class="m-4">
              <h3>ISLAND <span>MODULAR KITCHEN DESIGN</span></h3>
              <p>A kitchen island is a unit that can be
                freestanding and used to enhance the
                functionality and appearance of your cooking
                space.Traditional units are rectangular, with
                one section being used as a breakfast counter.</p>
            </div>
          </div>
          <div class="col-4 card m-3" >
            <div class="">
              <img src="https://www.regalokitchens.com/images/parallel-kitchen1.jpg" alt="" class="w-100" style="height: 250px;">
            </div>
            <div class="m-4">
              <h3>PARALLEL <span>MODULAR KITCHEN DESIGN</span></h3>
              <p >Parallel kitchens are a classic design that
                consists of two walls and a passageway. It is
                packed with wall cabinets and base cabinets on
                each side. This layout is easy to design, as
                there isn't enough space for corner cabinets.</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class=" d-flex justify-content-center m-3">
        <button class="btn btn-danger m-4 p-2 px-5" style="border-radius: 30px;font-size: 18px;font-weight: 700;background-color: #e9212e;">Enquiry Now</button>
        </div>
    </div>
  </div>

  <!-- TYPE OF MODULAR WARDROB-->
  <div class="container-fluid">
    <div class="container ">
      <div class="row m-4">
        <div class="col-12 text-center">
          <div class="m-4">
            <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">TYPES OF <span style="color: #d83135;font-weight: 450;">MODULAR WARDROBE</span></h2>
          </div>
          <div class="align-items-center" style="font-weight: 500;font-size: 17px;">
            <p>Bedroom wardrobes are a great place to store clothes and accessories.<a href="" style="text-decoration: none;font-weight: 700;"> Modular Wardrobe Design</a> are also separate the changing rooms from the rest of your 
              bedroom, keeping it tidy and clutter-free. Regalo is a Modular Wardrobe producer in Delhi and other cities also. You can organize your home and improve the 
              appearance of your wardrobe section using selected different designs of Modular Wardrobe in Delhi or anywhere in India including a range of colors and 
              layouts that will fit in your space like Italian modular Wardrobe in Delhi or anywhere in India. For Modular Wardrobe in Delhi or India Regalo is a known name and 
              fastest growing company soon we will be no 1 company of Modular Wardrobe producers in Delhi as well as India. Today most popular design of the wardrobe is 
              Italian modular Wardrobe in Delhi and India, Just visit our showroom as per your nearest location and check the design, quality and Prices.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid box1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center d-flex justify-content-center ">
          <div class="col-4 card m-3" >
            <div class="hover-image">
              <img src="	https://www.regalokitchens.com/images/sliding.jpg" alt="" class="w-100" style="height: 250px;">
            </div>
            <div class="m-4">
              <h3>SLIDING DOOR <span>WARDROBE</span></h3>
              <p>A sliding door wardrobe is an
                essential piece of bedroom furniture.
                These wardrobes will enhance
                your bedroom's decor and offer
                ample storage space to store
                your clothes, accessories,
                as well as beauty products.</p>
            </div>
          </div>
          <div class="col-4 card m-3" >
            <div class="hover-image">
              <img src="https://www.regalokitchens.com/images/openable.jpg" alt="Openable Wardrobe" class="w-100" style="height: 250px;">
            </div>
            <div class="m-4">
              <h3>OPENABLE <span>WARDROBE</span></h3>
              <p>
                Give your home the attention it deserves with a 
                timeless Openable shutter wardrobe. This 
                timeless Shutter is well-known for its classic 
                design and high-quality craftsmanship. Because 
                of their classic appearance and long-term 
                durability, Openable shutters have been 
                elevated to a high level.
              </p>
            </div>
          </div>
          
          
          <div class="col-4 card m-3">
            <div class="hover-image">
              <img src="	https://www.regalokitchens.com/images/walkinwardrobe.jpg" alt="" class="w-100" style="height: 250px;">
            </div>
            <div class="m-4">
              <h3>WALK IN CLOSET <span>WARDROBE</span></h3>
              <p>You have many options for design
                and placement when it comes to
                walk-in wardrobes. Many homeowners
                today need a well-equipped closet.
                These storage spaces have
                become more than just a
                place for clothes to be kept.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- GET THE BEST -->
  <div class="container-fluid">
    <div class="container ">
      <div class="row m-4">
        <div class="col-12 text-center">
          <div class="m-4">
            <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">GET THE BEST <span style="color: #d83135;font-weight: 450;">MODULAR KITCHEN DESIGN SERVICES</span></h2>
          </div>
          <div class="align-items-center" style="font-weight: 500;font-size: 17px;">
            <p>Renovate your kitchen with Regalo Kitchens, a company that provides best modular kitchen design services. By providing specially personalized design, top-
              quality components, and smart storage options provided to your area, our team of professionals makes sure your kitchen is both practical as well as 
              fashionable. We design kitchens that adjust function and look good, no concern about how big or little your space is. Our full services include professional 
              installation, post-installation assistance, and design consulting. Our designs make sure your modular kitchen design is an excellent fusion of look as well as 
              function by focusing on environmentally friendly practices, durability, and easy operation.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WHY CHOOSE -->
  <div class="container">
  <div class="col-12 text-center">
    <div class="m-4">
      <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">WHY <span style="color: #d83135;font-weight: 450;">CHOOSE US</span></h2>
    </div>
  </div>
</div>
  <div class="container-fluid w-100" style="background-color: #d54e52;">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center ">
          <div style="text-align: left;"><img src="	https://www.regalokitchens.com/images/icon1.png" alt="" >
            <div class="title coun-box counted" >
              
              <h2 style="color: #ffffff;">
                <span class="timer" data-from="1" data-to="250"  data-refresh-interval="50" style="color: #ffffff;">250</span>K+
              </h2>
              <p style="color: #ffffff;">Projects Completed</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ABOUT -->
  <div class="container-fluid">
    <div class="container ">
      <div class="row m-4">
        <div class="col-12 text-center">
          <div class="m-4">
            <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">ABOUT <span style="color: #d83135;font-weight: 450;">US</span></h2>
          </div>
          <div class="align-items-center" style="font-weight: 500;font-size: 16px;">
            <p>We design more than simply modular kitchen design, we make works of art that improve the interior of your home. We believe at Regalo Kitchens, the kitchen should 
              serve as a place where families come together to share delicious foods and make beautiful memories. Go check out our website and browse some innovative design 
              concepts that professionally balance comfort, accessibility and luxury. <br><br>
              We are a specialized company in the field of modular kitchen design that transforms simple spaces into fashionable and useful kitchen areas that fit your needs. We 
              specialize in creating a latest kitchen design that adjusts storage, provides an effective workflow, and improves overall attractiveness, with a focus on user comfort and 
              creative layouts. From modern to traditional styles, we provide flexible plans that effectively balance style and durability. We make sure every kitchen shows remarkable 
              accuracy and high-quality by using high-grade materials and modern technology. The attention we give to clients for best experience inspires us to provide solutions 
              that increase space use while also matching with your unique tastes. Together, we can design a modular kitchen design that will help us to improve the main area of 
              every home by combining quality, comfort, and beauty.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- WHAT MAKES -->
  <div class="container-fluid">
    <div class="container ">
      <div class="row m-4">
        <div class="col-12 text-center">
          <div class="m-4">
            <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">WHAT MAKES <span style="color: #d83135;font-weight: 450;">UNIQUE</span></h2>
          </div>
          <div class="align-items-center" style="font-weight: 500;font-size: 17px;">
            <p>Regalo Kitchens differentiate itself through giving customers premium modular kitchen design plans that are created specifically to each customer's unique 
              specifications. Our customer-first approach is what makes us unique, we take the time to learn about your preferences, design, and requirements for space to create a 
              kitchen that wonderfully matches your lifestyle. <br><br>
              With creative solutions for storage along with successful layouts that make the best use of available space, our designs are not only beautiful to look at but also 
              incredibly useful. Our use of high-quality materials and modern equipment confirms environmentally friendly practices and durability for results that last for a while. <br><br>
              We are genuinely unique because of our end-to-end service. Our services are smooth, which begins from the consultation and ends with professional installation and 
              post-installation assistance. Our modular kitchen balances value, design, and usefulness while maintaining affordability without compromising quality.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- KNOW the process -->
    <div class="container know_the">
      <div class="row">
        <div class="col-12 text-center">
          <div class="m-4">
            <h2 >KNOW THE <span style="font-weight: 400;">PROCESS</span></h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center ">
          <div class="top col-4 card m-3 p-4">
            <div class="count ">
              <h2>1</h2>
          </div>
          <br>
          <div class="">
            <h3>PLANNING</h3>
          </div>
            <div class="m-4 text-LEFT">
              <p>Modular kitchen designs can be difficult to 
                create. Our manufacturing solutions are 
                ideal for modern kitchen needs.</p>
            </div>
          </div>

          <div class="top col-4 card m-3 p-4">
            <div class="count ">
              <h2>2</h2>
          </div>
          <br>
          <div class="">
            <h3>MADE TO  MEASURE</h3>
          </div>
            <div class="m-4 text-LEFT">
              <p>Regalo Kitchens is attentive to detail which 
                allows us to deliver Modular Kitchen 
                Solutions that are precise and meet all the 
                requirements of our customers.</p>
            </div>
          </div>

<div class="top col-4 card m-3 p-4">
            <div class="count ">
              <h2>3</h2>
          </div>
          <br>
          <div class="">
            <h3>INSTALLATION</h3>
          </div>
            <div class="m-4 text-LEFT">
              <p>Our made-to-measure step is followed by 
                the technical Installation team, which is 
                considered one of the vital stages. Modular 
                Kitchens installation demands a level of 
                expectation which our team possesses</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 d-flex justify-content-center">
        <div class="top col-4 card m-3 p-4">
          <div class="count ">
            <h2>4</h2>
        </div>
        <br>
        <div class="">
          <h3>CUSTOM MADE</h3>
        </div>
          <div class="m-4 text-LEFT">
            <p>A built-to-order kitchen is the 
              need of the changing time, and Regalo Kitchens 
              understand it fully.</p>
          </div>
        </div>
        
        <div class="top col-4 card m-3 p-4">
          <div class="count ">
            <h2>5</h2>
        </div>
        <br>
        <div class="">
          <h3>DESIGNING</h3>
        </div>
          <div class="m-4 text-LEFT">
            <p>Our designs reflect modern times and 
              changing needs. These requirements are met 
              effortlessly by our Modular Kitchen 
              Designer. Our 3D & 2D design is the perfect 
              collaboration for your requirement, the look 
              & the design you want.</p>
          </div>
        </div>

        <div class="top col-4 card m-3 p-4">
          <div class="count ">
            <h2>6</h2>
        </div>
        <br>
        <div class="">
          <h3>LIFETIME WARRENTY</h3>
        </div>
          <div class="m-4 text-LEFT">
            <p>Regalo Kitchens believes in delivering 
              customer satisfaction, not only top-class 
              products and solutions.</p>
          </div>
        </div>

      </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container ">
        <div class="row m-4">
          <div class="col-12 text-center">
            <div class="m-4">
              <h2 style="font-weight: 700;color: #3a3a3a;font-size: 40px;">GET STARTED WITH YOUR <span style="color: #d83135;font-weight: 450;">MODULAR KITCHEN DESIGN TODAY</span></h2>
            </div>
            <div class="align-items-center" style="font-weight: 500;font-size: 17px;">
              <p>Are you looking to renovate your kitchen area? So come checkout our website and wide collection of modular kitchen design layouts. We at Regalo Kitchens 
                make the whole process simple and stress-free. To get started, schedule a private consultation with one of our professional designers, who will communicate 
                directly with you to better understand your goals, tastes, and space requirements. We'll guide you through the process of selecting the most fitting elements, 
                designs, and finishes to build a modular kitchen that mixes together appearance as well as function.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid how_can_help">
      <div class="row">
        <div class="col-12 image-container">
          <!-- Background Image -->
          <div class="background-image">
            <img src="https://www.regalokitchens.com/images/parallax-background/contact-details-bg.jpg" alt="Background Image">
          </div>
          
          <!-- Caption Content -->
          <div class="carousel-caption custom-caption-top">
            <div class="text-center">
              <h1>HOW CAN WE <span>HELP YOU</span></h1>
            </div>
            <div class="container overlay-container">
              <div class="row align-items-center">
                <div class="col-5 m-0 p-0">
                  <img src="https://www.regalokitchens.com/images/parallax-background/contact-info-box-bg.jpg" alt="Small Image" class="overlay-image">
                </div>
                <div class="col-7">
                  <form class="contact-details-box" (ngSubmit)="onsubmit()">
                  <div class="row ">

                    <div class=" pb-5">
                      <h2>Get A Free Quote</h2>
                    </div>

                    <div class="col-xl-5 m-3">
                      <div class="single-box">
                        <input type="text" [(ngModel)]="name" name="name" class="form-control p-3" placeholder="Name" >
                      </div>
                    </div>

                    <div class="col-xl-5 m-3">
                      <div class="single-box">
                        <input type="email" [(ngModel)]="email" name="email" class="form-control p-3" placeholder="Email" >
                      </div>
                    </div>

                    <div class="col-xl-5 m-3">
                      <div class="single-box">
                        <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control p-3" placeholder="Mobile" >
                      </div>
                    </div>

                    <div class="col-xl-5 m-3">
                      <div class="single-box">
                        <input type="text" [(ngModel)]="pin_code" name="pin_code" class="form-control p-3" placeholder="Pin code" >
                      </div>
                    </div>

                    <div class="col-xl-11 m-3">
                      <div class="single-box">
                        <input type="text" [(ngModel)]="budget" name="budget" class="form-control p-3" placeholder="Budget">
                      </div>
                    </div>
                    

                    <div class="col-xl-11 m-3">
                      <div class="single-box">
                        <textarea placeholder="Details" class="form-control" style="height: 200px;"> {{message}}</textarea>
                      </div>
                    </div>

                    <div class="justify-content-end p-5 d-flex">
                      <button class="btn btn-danger px-4 py-3" style="border-radius: 0px;font-weight: 600;font-size: 18px;" type="submit">Send Request<i class="fa-solid fa-arrow-right"></i></button>
                    </div>

                </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-12 d-flex  justify-content-center m-5">
          <h2 style="font-weight: 700;">RECENTLY COMPLETED <span style="font-weight: 400;">PROJECT</span></h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center  d-flex justify-content-center">
          <div class="col-4 card m-3 p-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;border: 1px solid #ccc; border-radius: 10px; overflow: hidden;">
            <div class="hover-image">
              <img src="https://www.regalokitchens.com/images/design/kitchen/italian-kitchen1.jpg" alt="" class="w-100" style="height: 250px; object-fit: cover;">
              <div class="carousel-caption custom-caption-top d-flex justify-content-start">    
                <div class="d-flex justify-content-center">
                <button class="rotate-button   mx-4 justify-content-center d-flex py-4" style="border-radius: 40px;height: 60px;width: 60px; "><i class="fa-solid fa-arrow-right"></i></button>
              </div>
            </div>

            </div>
          </div>
          <div class="col-4 card m-3 p-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border: 1px solid #ccc; border-radius: 10px; overflow: hidden;">
            <div class="hover-image">
              <img src="	https://www.regalokitchens.com/images/design/kitchen/german-kitchen2.jpg" alt="Openable Wardrobe" class="w-100" style="height: 250px; object-fit: cover;">
              <div class="carousel-caption custom-caption-top d-flex justify-content-start">    
                <div class="d-flex justify-content-center">
                <button class="rotate-button   mx-4 justify-content-center d-flex py-4" style="border-radius: 40px;height: 60px;width: 60px; "><i class="fa-solid fa-arrow-right"></i></button>
              </div>
            </div>
            </div>
          </div>
          
          
          <div class="col-4 card m-3 p-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border: 1px solid #ccc; border-radius: 10px; overflow: hidden;">
            <div class="hover-image">
              <img src="https://www.regalokitchens.com/images/design/kitchen/l-shaped-kitchen2.jpg" alt="" class="w-100" style="height: 250px; object-fit: cover;">
              <div class="carousel-caption custom-caption-top d-flex justify-content-start">    
                <div class="d-flex justify-content-center">
                <button class="rotate-button   mx-4 justify-content-center d-flex py-4" style="border-radius: 40px;height: 60px;width: 60px; "><i class="fa-solid fa-arrow-right"></i></button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- BLOG -->
    <div class="container">
      <div class="row pt-5">
        <div class="col-12  d-flex justify-content-center ">
          <h2 style="font-weight: 700;font-size: 39px;color: #3a3a3a;">BLOGS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12  d-flex justify-content-center">
        <p style="font-weight: 500;font-size: 17px;">Regalo Kitchen has catered the Delhi NCR market and satisfied more than 1000+ customer in the region.</p>
      </div>
    </div>
    <div class="row box1">
      <div class="col-12 text-center p-4 d-flex">
        <div class=" card m-3" >
          <div class="">
            <img src="	https://www.regalokitchens.com/blogimg/top-10-modular-kitchen-brand-in-india.jpg" alt="" class="w-100" >
          </div>
          <div class="m-4">
            <a href="#" style="font-weight: 700;font-size: 18px;text-decoration: none;color: #000000;">Top 10 Modular Kitchen Brand In India</a>
          </div>
        </div>
        <div class=" card m-3" >
          <div class="">
            <img src="https://www.regalokitchens.com/blogimg/1000+modular-kitchen-designs-in-india.jpg" alt="" class="w-100" >
          </div>
          <div class="m-4">
            <a href="#" style="font-weight: 700;font-size: 18px;text-decoration: none;color: #000000;">1000+ Modular Kitchen Designs In India</a>
          </div>
        </div>
        <div class=" card m-3">
          <div class="">
            <img src="	https://www.regalokitchens.com/blogimg/top-10-best-modular-kitchen-brands-in-india.jpg" alt="" class="w-100">
          </div>
          <div class="m-4">
            <a href="#" style="font-weight: 700;font-size: 18px;text-decoration: none;color: #000000;">• Top 10 Best Modular Kitchen Brands In India</a>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="container faq">
      <div class="row">
        <div class="col-12 d-flex justify-content-center pt-3 ">
          <h2 style="font-weight: 700;font-size: 39px;color: #3a3a3a;">FAQ'S</h2>
        </div>
        <div class="row" >
          <div class="col-12">
            <div class="accordion px-5" id="accordionExample">

              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Q1. What is a Modular Kitchen Design?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" >
                  <div class="accordion-body">
                    <p style="font-weight: 500;font-size: 16px;">A modular kitchen design is referred to as a modern and practical kitchen plan that uses prefabricated cabinets, drawers, and shelves to optimize space and guarantee simple installation. It offers choices for customization to meet different kitchen sizes and designs, combining functionality and beauty.</p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" >
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Q2. What makes Modular Kitchen Design so popular in India?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                  <div class="accordion-body">
                    <p style="font-size: 16px;font-weight: 500;">Modular kitchen design has developed into an important feature of modern homes in India, giving rise to a wide range of designs to choose from, usefulness, and a stylish appearance. They offer well-organized storage, ease of maintenance, and a simpler style because of the already-constructed parts that can be changed based on the amount of space available. Regalo Kitchens is focused on delivering designs that match your lifestyle while increasing the overall value of your kitchen.</p>
                  </div>
                </div>
              </div>
              
              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Q3. What are Some Most Famous Modular Kitchen Design Plans?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" >
                  <div class="accordion-body">
                    <p style="font-size: 16px;font-weight: 500;"><strong>• L-Shaped Kitchen:</strong> These plans are really good for small to medium size kitchens. <br>
                      <strong>• U-shaped Kitchen:</strong> Great for spacious and with more storage. <br>
                      <strong>• Parallel Kitchen:</strong> Suitable for smaller and small rooms. <br>
                      <strong>• Island Kitchen:</strong> Perfect for open layouts, adds luxury and usefulness. <br>
                      <strong>• Straight Kitchen:</strong> Useful when there is a small apartment.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Q4. which are the best materials and textures for Modular Kitchen Design Plans?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" >
                  <div class="accordion-body">
                    <p style="font-weight: 500;font-size: 16px;">Laminates acrylic, or glass finishes are trendy picks to update your style, but solid materials like MDF, HDF, or plywood come in handy for many cabinet projects. Granite quartz, and marble countertops are favorites because they look good and last a long time. Regalo Kitchens helps you pick the best products and finishes that match your style and budget while leaving a strong impression on your visitors.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Q5. How can I add more storage space in my Modular Kitchen?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" >
                  <div class="accordion-body">
                    <p style="font-size: 16px;font-weight: 500;">A successful kitchen focuses on well-organized storage space. Make the most of every inch of space with features like pull-out drawers, top cabinets, tall cabinets and corner cabinets. To maintain a neat and organized kitchen The experts at Regalo Kitchens specialize in developing innovative storage concepts such as spice racks. Cutlery tray rotating machine and other modular appliances.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Q6. What are the latest trends in Modular Kitchen Design for 2025?
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" >
                  <div class="accordion-body">
                    <p style="font-size: 16px;font-weight: 500;">Popular trends include: <br>
                     <strong> • Muted tones:</strong> Beige shades, pastel green. and gray is preferred. <br>
                     <strong> • Handle-free cabinet:</strong> For a modern and clear look. <br>
                     <strong> • Integrated Smart Technology:</strong> Automatic drawers and motion sensor lights are some of its best features. <br>
                     <strong> • Natural materials:</strong> Make use of stone textures and wood to create an area that feels comfortable and natural.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Q7. Why You Shuld Pick a Modular Kitchen Over a Traditional Kitchen?
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" >
                  <div class="accordion-body">
                    <p style="font-size: 16px;font-weight: 500;">Modern designs, flexibility, and organization are the features of a modular kitchen. They do not require much installation or repair and upgrading. Besides, they offer better storage solutions so that your kitchen remains clean and aesthetically pleasing.</p>
                  </div>
                </div>
              </div>

              <div class="accordion-item m-2" style="border: 0px;">
                <h2 class="accordion-header" >
                  <button class="accordion-button collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Q8. What Factors Decide the Modular Kitchen Cost in India?
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" >
                  <div class="accordion-body">
                    <p style="font-size: 16px;font-weight: 500;">Cost depends upon size, materials used, and additional features added for modular kitchens in India. The price may go up with the customizations and high-end finishes.</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>




       <div class="d-flex justify-content-center">
      <button class="rotate-button p-4 justify-content-center d-flex" style="border-radius: 40px; "><i class="fa-solid fa-arrow-right"></i></button>
    </div>
    
<!-- <div>
    <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
</div> -->

<div class="slider-container">
  
</div>
